@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

html,
body {
  color: hsl(221, 14%, 31%);
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

* {
  box-sizing: border-box;
}


.content {
  background-color: var(--background-calc);
}

.calc {
  background-color: var(--background-calc);
  height: 671px;
  width: 375px;
  padding: 24px;
}

.calcHeader {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-header);
}


.calcHeader>div {
  display: flex;
  gap: 30px;
}

.display {
  background-color: var(--background-screen);
  color: var(--text-color-display);
  padding: 24px;
  margin-top: 30px;
  margin-bottom: 24px;
  text-align: right;
  border-radius: 10px;
}

.display>h1 {
  margin: 0;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--background-keypad);
  padding: 20px;
}

.keyboard>button {
  cursor: pointer;
  border: none;
  font-family: 'Outfit', sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;

  width: 58px;
  height: 58px;
  border-radius: 5px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 0px var(--key-shadow);
  color: var(--text-color);
  background-color: var(--key-background);
}

.keyboard>button:active {
  background-color: var(--key-active);
}


.special {
  font-size: 1em !important;
  color: var(--text-color-special) !important;
  background-color: var(--key-background-special) !important;
  box-shadow: 0px 5px 0px var(--key-shadow-special) !important;
}

.intro {
  font-size: 1em !important;
  color: var(--text-color-intro) !important;
  background-color: var(--key-background-intro) !important;
  box-shadow: 0px 5px 0px var(--key-shadow-intro) !important;
}

.special:active {
  background-color: var(--key-special-active) !important;
}

.intro:active {
  background-color: var(--key-intro-active) !important;
}


.theme-picker {
  display: flex;
  align-items: center;
}

.theme--picker--wrapper {
  width: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.theme--picker--values {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  justify-content: space-between;

}

.theme--picker--circles {
  width: 50px;
  height: 15px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  border-radius: 20x;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

.theme--active {
  width: 12px;
  height: 12px;
  margin-top: 1px;
  background-color: red;
  border-radius: 50%;
}




body[data-theme="1"] {
  --background-calc: hsl(222, 26%, 31%);
  --background-screen: hsl(224, 36%, 15%);
  --background-keypad: hsl(223, 31%, 20%);

  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --key-active: hsl(30, 25%, 100%);

  --key-background-special: hsl(225, 21%, 49%);
  --key-shadow-special: hsl(224, 28%, 35%);
  --key-special-active: hsl(225, 21%, 69%);


  --key-background-intro: hsl(6, 63%, 50%);
  --key-shadow-intro: hsl(6, 70%, 34%);
  --key-intro-active: hsl(6, 63%, 70%);

  --text-color: hsl(221, 14%, 31%);
  --text-color-display: white;
  --text-color-header: white;
  --text-color-special: white;
  --text-color-intro: white;
}

body[data-theme="2"] {
  --background-calc: hsl(0, 0%, 90%);
  --background-screen: hsl(0, 0%, 93%);
  --background-keypad: hsl(0, 5%, 81%);

  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  --key-active: hsl(45, 7%, 100%);

  --key-background-special: hsl(185, 42%, 37%);
  --key-shadow-special: hsl(185, 58%, 25%);
  --key-special-active: hsl(185, 42%, 57%);

  --key-background-intro: hsl(25, 98%, 40%);
  --key-shadow-intro: hsl(25, 99%, 27%);
  --key-intro-active: hsl(25, 98%, 60%);

  --text-color: hsl(60, 10%, 19%);
  --text-color-header: hsl(60, 10%, 19%);
  --text-color-display: hsl(60, 10%, 19%);
  --text-color-special: white;
  --text-color-intro: white;
}

body[data-theme="3"] {
  --background-calc: hsl(268, 75%, 9%);
  --background-screen: hsl(268, 71%, 12%);
  --background-keypad: hsl(268, 71%, 12%);

  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  --key-active: hsl(268, 47%, 41%);

  --key-background-special: hsl(281, 89%, 26%);
  --key-shadow-special: hsl(285, 91%, 52%);
  --key-special-active: hsl(281, 89%, 46%);

  --key-background-intro: hsl(176, 100%, 44%);
  --key-shadow-intro: hsl(177, 92%, 70%);
  --key-intro-active: hsl(176, 100%, 80%);

  --text-color: hsl(52, 100%, 62%);
  --text-color-header: hsl(52, 100%, 62%);
  --text-color-display: hsl(52, 100%, 62%);
  --text-color-special: white;
  --text-color-intro: hsl(198, 20%, 13%);
}


/* Fila 1 */
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

/* Fila 2 */
.div5 {
  grid-area: 2 / 1 / 3 / 2;
}

.div6 {
  grid-area: 2 / 2 / 3 / 3;
}

.div7 {
  grid-area: 2 / 3 / 3 / 4;
}

.div8 {
  grid-area: 2 / 4 / 3 / 5;
}

/* Fila 3 */
.div9 {
  grid-area: 3 / 1 / 4 / 2;
}

.div10 {
  grid-area: 3 / 2 / 4 / 3;
}

.div11 {
  grid-area: 3 / 3 / 4 / 4;
}

.div12 {
  grid-area: 3 / 4 / 4 / 5;
}

/* Fila 4 */
.div13 {
  grid-area: 4 / 1 / 5 / 2;
}

.div14 {
  grid-area: 4 / 2 / 5 / 3;
}

.div15 {
  grid-area: 4 / 3 / 5 / 4;
}

.div16 {
  grid-area: 4 / 4 / 5 / 5;
}

/* Fila 5 */
.bigDiv1 {
  grid-area: 5 / 1 / 6 / 3;
  width: 133px !important;
}

.bigDiv2 {
  grid-area: 5 / 3 / 6 / 5;
  width: 133px !important;
}

